<div class"col-6 col-md-3 sidebar-offcanvas" id="sidebar">
  <div class="sidebar-module sidebar-module-inset shopping-cart">
    <h4>Shopping Cart</h4>
    <% @items.each do |item| %>
      <p><%= item.amount %> x <%= item.product.title %></p>
    <% end%>
  </div>
</div>    
