<div class="container">
  <div class"col-6 col-md-2  sidebar-offcanvas" id="sidebar">
    <div class="sidebar-module sidebar-module-inset shopping-cart">
      <h4>Shopping Cart</h4>
      <% if @items.present? %>
      <% @items.each do |item| %>
      <p><%=item["amount"] %>
        x
        <%=Product.find(item["product_id"]).name %></p>

      <%end%>
    <% else %>
      <p>Empty cart!</p>
      <% end %>
      <p><%= link_to_if(!user_signed_in?, "Order", notice: "You must first sign in!")do link_to("Order", {:controller => :orders, :action => 'create', :user_id => current_user.id }, :method => :create, class:"btn btn-success btn-xs") end %></p>
    </div>
  </div>
</div>
