<div class="container">
<div class"col-6 col-md-2  sidebar-offcanvas" id="sidebar">
  <div class="sidebar-module sidebar-module-inset shopping-cart">
    <h4>Shopping Cart</h4>
    <% if @items.present? %>
      <% @items.each do |item| %>
          <p><%=Product.find(item["product_id"]).name %> </p> : <p><%=item["amount"] %></p>
        <%end%>
    <% else %>
    <p>Empty cart!</p>
    <% end %>
  </div>
</div>
