@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: #f5f8fa;
}

.navbar-brand {
    padding-top: 2em;
}

.dropdown {
    font-size: 1.5em;
}

#brand-name {
    font-size: 5em;
    font-family: 'Indie Flower', cursive;
    margin-left: -0.5em;
}

.session-links {
    font-size: 1.5em;
}

.navbar-nav li a {
    // line-height: 150px;
    // height: 150px;
    padding-top: 0;
    font-size: 100%;
}

.navbar-nav {
    // line-height: 150px;
    height: 150px;
    padding-top: 5em;
}

.sidebar-module {
    background-color: #3097d1;
    margin-left: 71em;
    margin-right: -10em;
    margin-top: -5em;
    border: 1px solid black;
    border-radius: 1%;
}

.sidebar-module p {
    padding-left: 15%;
    color: #f5f8fa;
}

.sidebar-module h4 {
    padding-left: 5%;
    color: #f5f8fa;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #000;
    margin-top: 0.1em;
    /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: white;
    /*BACKGROUND color for active*/
    background-color: #030033;
}

.navbar-default {
    background-color: #3097d1;
    border-color: #030033;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;
    /*change color of links in drop down here*/
}

.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
    background-color: silver;
    /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
    color: white;
    /*Change active text color here*/
}
